<div class="row">
	<div class="col-md-12">
		<ba-card title="Enviar Mensagem" baCardClass="with-scroll">
			<div *ngFor="let alert of alerts">
				<alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
			</div>
			<div class="form-group">
				<label>Mensagem</label>
				<textarea [(ngModel)]="data.mensagem" class="form-control"></textarea>
			</div>
			<div class="form-group">
				<button (click)="enviarMensagem()" type="button" class="btn btn-default btn-lg">Enviar</button>
			</div>
		</ba-card>
	</div>
</div>