<div class="row  sms-box">
	<div class="col-md-6">
		<div class="sms-input">
			<label for="">Nome</label>
			<input type="text" />
		</div>
		<div class="sms-input">
			<label for="">Telefone</label>
			<input type="text" />
		</div>
		<div class="sms-input">
			<label for="">Aniversário</label>
			<input type="text" />
		</div>
	</div>
	<div class="col-md-6">
		<div class="sms-input sms-input-with-btn">
			<tags></tags>
		</div>
		<div class=" ">
			<div class="container-tags">
				<span> teste 1</span> <span>teste 2</span>
				<span> teste 1</span> <span>teste 2</span>
				<span> teste 1</span> <span>teste 2</span>
				<span> teste 1</span> <span>teste 2</span>
			</div>
		</div>
	</div>

</div>