<div class="row">
	<div class="col-md-12">
		<ba-card baCardClass="with-scroll">
			<div style="display:flex; justify-content: space-around">
				<div><a routerLinkActive="active" routerLink="/pages/messages/dashboard">DASHBOARD</a></div>
				<div><a routerLinkActive="active" routerLink="/pages/messages/contatos">CONTATOS</a></div>
				<div><a routerLinkActive="active" routerLink="/pages/messages/enviar-sms">ENVIAR SMS</a></div>
				<div><a routerLinkActive="active" routerLink="/pages/messages/mensagens">MENSAGENS</a></div>
			</div>
		</ba-card>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<ba-card baCardClass="with-scroll">
			<router-outlet></router-outlet>
		</ba-card>
	</div>
</div>